// colores variables
$colorBodyPrimario:rgb(0, 0, 0);
$colorContenedorCarta:rgba(172, 74, 207, 0.554);
$colorHeaderCartaNumeros:hsla(259, 100%, 65%, 0.204);
$colorMainBoton:hsl(259, 100%, 65%);


// medidas variables
$anchoContenedorCarta: 30rem;
$altoCantenedorCarta: 40rem;
